// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Mixins
@import 'mixin';

html, body {
	margin: 0;
	padding: 0;
	font-family: tahoma;
	box-sizing: border-box;
}

.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden;
}

.main-container {
	background: #ccc;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 5px;
	padding-bottom: 0;
	& > * {
		margin-bottom: 5px;
	}
	.top-bar {
		@include ms-panel;
		box-sizing: border-box;
		padding: 5px;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		div {
			font-size: 1.8rem;
		}
		.team-0 { color: #021DE8; }
		.team-1 { color: #05B914; }
		.team-2 { color: #E80202; }
		.team-3 { color: #C17F04; }
	}
	.viewport {
		@include ms-panel;
		position: relative;
		box-sizing: border-box;
		flex: 1;
		background: blue;
		#renderer {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			box-sizing: border-box;
			background: red;
		}
	}
}

.login {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 3rem;

	input {
		font-size: 2.5rem;
		padding: 1rem;
		text-align: center;
		outline: none;
		border: none;
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
		transition: all 0.1s ease-in-out;
		&:hover, &:focus{
			transform: scale(1.1);
		}
	}

	button {
		margin: 20px;
		font-size: 2rem;
		background: darken(skyblue, 15);
		padding: 0.8rem 50px;
		cursor: pointer;
	}
}

.marked {
	text-decoration: underline;
	font-weight: bold;
	font-size: 1.7rem;
}

.struck {
	text-decoration: line-through !important;
}

.toast-area {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 9999;

	.toast {
		background: rgba(0, 0, 0, 0.8);
		padding: 50px;
		margin: 20px;
		transition: all 0.3s ease-in-out;
		font-size: 1.1rem;
		color: white;
		border-radius: 10px;
	}
}
