html, body {
	margin: 0;
	padding: 0;
	font-family: tahoma;
}

.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden;
}

.login {
	// width: 100%;
	// height: 100vh;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 3rem;

	input {
		font-size: 2.5rem;
		padding: 1rem;
		text-align: center;
		outline: none;
		border: none;
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
		transition: all 0.1s ease-in-out;
		&:hover, &:focus{
			transform: scale(1.1);
		}
	}

	button {
		margin: 20px;
		font-size: 2rem;
		background: darken(skyblue, 15);
		padding: 0.8rem 50px;
		cursor: pointer;
	}
}

canvas {
	width: 100%;
	height: 100%;
}

.marked {
	text-decoration: underline;
	font-weight: bold;
	font-size: 1.7rem;
}

.struck {
	text-decoration: line-through !important;
}

.bar {
	background: #ececec;
	box-sizing: border-box;
	width: 100vw;
	padding: 15px 0;
	font-size: 1.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	border-width: 3px;
	border-style: solid;
	border-color: #fff #aaa #aaa #fff;
	.team-0, .team-1, .team-2, .team-3 {
		flex-grow: 1;
	}
	.team-0 { color: #021DE8; }
	.team-1 { color: #05B914; }
	.team-2 { color: #E80202; }
	.team-3 { color: #C17F04; }
}

.toast-area {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 9999;

	.toast {
		background: rgba(0, 0, 0, 0.8);
		padding: 50px;
		margin: 20px;
		transition: all 0.3s ease-in-out;
		font-size: 1.1rem;
		color: white;
		border-radius: 10px;
	}
}
